<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Chrome">
  
  
    <classes>
    
      <class name="invoking_chromepack.Class_frmOtherPack"/>
      <class name="testNG_Practice.ExecutionFlow_Testng"/> 
      <class name="testNG_Practice.Sample2"/>
      <class name="testNG_Practice.SampleClass"/>
  
    </classes>  
 </test>
</suite> <!-- Suite -->
